a {
    display: inline-block;
    padding: 0 10px;
}

a, a:visited {
    color: #00f;
}

a.active {
    color: #f00;
}

.header {
    border: 1px solid #f00;
}

.content {
    border: 1px solid #00f;
}